{% extends 'authentication/base.html' %}
{% block title %} User Login{% endblock title %}


{% block body %}
<div class="containerI">
    <br>
    <br>
    <section class="container1 forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form action="/user/sign-in" method="post" id="logFrm">
                    {% include "alert/flash.html" %}
                    <div class="field input-field">
                        <input type="text" placeholder="Email" class="input" name="email" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" name="password" minlength="8"
                            required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>
                </form>

                <div class="form-link">
                    <!-- <span>Don't have an account? <a href="{{ url_for('authentication.user_sign_up') }}"
                            class="link signup-link">Signup</a></span> -->
                    <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                </div>
            </div>
            <div class="line"></div>

            <div class="media-options">
                <a href="/google/login" class="field google">
                    <img src="../../static/assets/img/auth_google/google.png" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>
        </div>

        <!-- Signup Form -->

        <div class="form signup">

            <div class="form-content">
                {% include 'alert/flash.html' %}
                <header>Signup</header>
                <form action="/user/sign-up" method="post" id="sipfrm">

                    <div class="field input-field">
                        <input type="text" placeholder="Name" class="input" name="name" maxlength="50" required>
                    </div>

                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" name="email" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Create password" class="password" name="password" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <!-- <div class="field input-field">
                        <input type="password" placeholder="Confirm password" class="password" name="confirm-password"
                            required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div> -->

                    <!-- <div class="field input-field">
                                <input type="tel" placeholder="Contact No." class="contact" name="contact" required>
                            </div>
        
                            <div class="field input-field">
                                <input type="text" placeholder="Gender" class="contact" name="gender" required>
                            </div>
        
                            <div class="field input-field">
                                <input type="text" placeholder="Address" class="contact" name="address" required>
                            </div> -->

                    <div class="field button-field">
                        <button type="submit">Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <!-- <span>Already have an account? <a href="{{ url_for('authentication.user_sign_in') }}"
                            class="link login-link">Login</a></span> -->
                    <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                </div>
            </div>

            <div class="media-options">
                <a href="/google/login" class="field google">
                    <img src="../../static/assets/img/auth_google/google.png" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>
        </div>
    </section>

</div>


{% endblock body %}